state_machine.json
{
    "StartAt": "LambdaValidateForm",
    "States": {
      "LambdaValidateForm": {
        "Type": "Task",
        "Resource": "${LambdaValidateForm}",
        "Parameters": {
            "InputDocumentKey.$": "$$.Execution.Input.detail.object.key" 
        },
        "ResultPath": "$.validation_output",
        "Next": "Execute Queries or Not?"
      },
      "Execute Queries or Not?": {
        "Type": "Choice",
        "Choices": [
            {
                "Variable": "$.validation_output.is_valid",
                "BooleanEquals": true,
                "Next": "Execute Queries"
            },
            {
                "Variable": "$.validation_output.is_valid",
                "BooleanEquals": false,
                "Next": "Handle Validation Failure"
            }
        ]
      },
      "Execute Queries": {
        "Type": "Task",
        "Resource": "${LambdaExecuteQueries}",
        "Parameters": {
            "InputDocumentKey.$": "$$.Execution.Input.detail.object.key",
            "FormName.$": "$.validation_output.form_name"
        },
        "ResultPath": "$.execution_output",
        "Next": "Handle Query Answers"
      },
      "Handle Validation Failure": {
        "Type": "Task",
        "Resource": "${LambdaHandleValidationFailure}",
        "Parameters": {
            "InputDocumentKey.$": "$$.Execution.Input.detail.object.key"
        },
        "End": true
      },
      "Handle Query Answers": {
        "Type": "Task",
        "Resource": "${LambdaHandleQueryAnswers}",
        "Parameters": {
            "InputDocumentKey.$": "$$.Execution.Input.detail.object.key",
            "QueryAnswers.$": "$.execution_output.QueryAnswers",
            "FormName.$": "$.execution_output.FormName"
        },
        "End": true
      }
    }
}